*{
	font-family: monospace;
	font-weight: Bold;
	text-decoration: none;
}

@keyframes hoverlink {
	from {background: #000}
	to {background: linear-gradient(164deg, rgba(14,0,36,1) 0%, rgba(102,9,121,1) 35%, rgba(0,212,255,1) 100%);}
}

body{
	background: #241E44;
}

main{
	width: 70%;
	margin: auto 15%;
	align-content: inline-block;
}

#sidebar{
	margin-right: 10%; 
}

#content{
	margin: auto;
}

#sidebar{
	max-width: 30%;
	font-size: 30px;
	margin-right: auto;
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
	align-content: stretch;
}

.link{
	padding: 20px 40px;
	border: 0px solid #000;
	background: #000000;
	border-radius: 25px;
	margin: 20px;
	text-align: center;
	box-shadow: 3px #000;
}

.link:hover{
	animation-name: hoverlink;
	animation-duration: 2s;
	animation-
	border-color: 2px solid;
	background: linear-gradient(164deg, rgba(14,0,36,1) 0%, rgba(102,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

