/* Reset some default styles to remove browser-specific spacing */
body, h2, form, label, input, button, p {
    margin: 0;
    padding: 0;
}

/* Basic styling for the login page */
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(7,94,121,1) 0%, rgba(56,56,59,1) 100%);
    text-align: center;
    padding: 20px;
    vertical-align: center;
    margin: 20% auto;
}

h2 {
    color: #fff;
    margin-bottom: 80px;
    font-size: 40px;
}

form {
    background-color: rgba(46, 41, 48,0.5);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px 45px 10px 20px;
    display: inline-table;
    text-align: left;
}

label {
    display: flex;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background: rgba(46, 41, 48, 0);
    border: 2px solid #888888;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 10px;
    vertical-align: middle;
}

.sp{
    font-size: 14px;
    align-content: center;
    margin: 5px 0px 5px 25%;
    display: flex;
}

button {
  color: #fff;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.0);
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
  border: 2px solid #75213a;
  margin-left: 40%;
}

/* Button hover effect */
button:hover {
    background-color: #75213a;
}

.error {
    color: red;
    margin-top: 10px;
}
