body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px;
    background: radial-gradient(circle, rgba(7,94,121,1) 0%, rgba(56,56,59,1) 100%);
}

h1 {
    text-align: center;
    font-size: 32px;
    margin: 20px;
}

p{
    font-size: 24px;
    height: auto;
}

.navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(40,40,40,0.5);
    color: #fff;
    padding: 10px 20px;
}

.logo {
    display: inline-block;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.buttons {
    display: inline-block;
}

.buttons a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
    border: 2px solid #75213a;
}

.buttons a:hover{
    background-color: #75213a;
}

.content{
    margin: 100px;
    height: 70%;
    width: 100%;
}

#leftbox,
#modbox,
#rightbox{
    display: inline-block;
    width: 250px;
    background: rgba(190,190,190,0.5);
    border: 2px solid rgba(150,150,150,0.7);
    border-radius: 20px;
}

#leftbox {

}
#midbox{

}
#rightbox{
    
}
