:root {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #fff;
}

/* Absolute navbar that takes space on the left */
#navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px; /* Fixed width for the navbar */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #232a3588;
    border: 3px solid #434549;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 4px 4px 6px #000000;
    z-index: 1000; /* Stays on top */
}

/* Ensure the rest of the content moves next to the navbar */
body {
    margin-left: 200px; /* Pushes the content next to the navbar */
}

/* Logo styling */
#logo-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo {
    max-height: 120px;
    border-radius: 50%;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
    
}

.dropbtn {
    background-color: #434549;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 160px;
    text-align: center;
}

.dropbtn:hover {
    background-color: #575757;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 160px;
    background-color: #434549;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#linkactive,
.link {
    background-color: #434549;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    border: 3px solid #434549;
    transition: all 0.3s ease;
}

#linkactive:hover,
.link:hover {
    background-color: #575757;
}

h1{
    text-align: center;
}